.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.probar_container{
    width: 70%;
    height: 10%;
    border-radius: 50px;
    border: .35rem solid palevioletred;
    overflow: hidden;
}
#probar {
    height: 100%;
    width: 0;

    background-color: pink; 
    border-radius: 50px;
    transition: 1s ;
}